<h1>Listing importance_indices</h1>

<table>
  <tr>
  </tr>

<% @importance_indices.each do |importance_index| %>
  <tr>
    <td><%= link_to 'Show', importance_index %></td>
    <td><%= link_to 'Edit', edit_importance_index_path(importance_index) %></td>
    <td><%= link_to 'Destroy', importance_index, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New importance_index', new_importance_index_path %>